<h1 style="padding: 10px; text-align: center; background: dimgrey; color: #ffffff; font-family: sans-serif; margin: -10px -10px 0 -10px">
  Lista de emails
</h1>
<% links.each_pair do |group, links| %>
    <h3 style="background-color: #F36E21; border-radius: 5px 5px 0 0; padding: 10px; margin: 5px 0 0 0 ">
      <%= group %>
    </h3>
    <ul style="background-color: #FFBBBB; border: 1px solid #F36E21; border-radius: 0 0 5px 5px; margin: 0 0 5px 0; padding-bottom: 10px">
      <% links.each do |name, link| %>
          <li><a href="<%= link %>.html"><%= name %></a></li>
      <% end %>
    </ul>
<% end %>
